@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev {
    background-image: url('/prev.svg');
    background-repeat: no-repeat;
    background-size: 80% auto;
    background-position: center;

    width: 50px !important;
    height: 50px !important;

    @apply bg-white/50 hover:bg-white shadow-xl rounded-full
}

.swiper-button-next {
    background-image: url('/next.svg');
    background-repeat: no-repeat;
    background-size: 80% auto;
    background-position: center;

    width: 50px !important;
    height: 50px !important;

    @apply bg-white/50 hover:bg-white shadow-xl rounded-full
}

.swiper-button-next::after, .swiper-button-prev::after {
    display: none;
}

.swiper-slide-active .card {
    @apply h-80
}

.swiper-slide-active .card-head {
    @apply h-[60%]
}

.swiper-slide-active .card-body {
    @apply block
}